- title: Service Account token
  content: |
    Protect access to k8s service account token
  image: images/uc/cert-file.png
  details:
    description: >
      K8s mounts the service account token as part of every pod by
      default. The service account token is a credential that can be used as a
      bearer token to access k8s APIs and gain access to other k8s entities.
      Many times there are no processes in the pod that use the service account
      tokens which means in such cases the k8s service account token is an
      unused asset that can be leveraged by the attacker.
    attackscenario: >
      An attacker would check for credential accesses so as to do
      lateral movements. For example, in most K8s attacks, the attacker after
      gaining entry into the K8s pods tries to use a service account token and
      gain access to other entities.
    tags:
      - CIS_v1.27
      - Control-Id-5.1.6
    references:
      - title: MITRE Steal Application Access Token
        url: https://attack.mitre.org/techniques/T1528/
    protectionpolicies:
      - name: Service account token
        path: res/svc-act-token.yaml
        simulation: res/svc-act-token-alert.md
    screenshots:
      - title: Hardening policy
        path: ../images/cards/protect-sa-token-0.png
      - title: Policy violation
        path: ../images/cards/protect-sa-token-1.png
        
- title: FIM
  content: |
    File Integrity Monitoring
  image: images/uc/fim.png
  details:
    description: >
      Changes to system binary folders, configuration paths, and credentials paths need to be monitored for change. With KubeArmor, one can not only monitor for changes but also block any write attempts in such system folders. Compliance frameworks such as PCI-DSS, NIST, and CIS expect FIM to be in place.
    attackscenario: >
      An attacker might want to update the configuration so as to disable security controls or access logs.
    tags:
      - CIS Distribution Independent Linuxv2.0, Control-Id:6.3.5
      - PCI-DSS, Requirement: 6
      - PCI-DSS, Requirement: 10
      - NIST_800-53_AU-2
    references:
      - title: MITRE Data Manipulation
        url: https://attack.mitre.org/techniques/T1565/
      - title: PCI DSS and FIM
        url: https://pcidssguide.com/the-pci-dss-and-file-integrity-monitoring/
    protectionpolicies:
      - name: File Integrity Monitoring
        path: res/fim.yaml
        simulation: res/fim-alert.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/fim-0.png
      - title: Policy violation
        path: ../images/cards/fim-1.png

- title: Packaging tools
  content: Deny execution of package management tools
  image: images/uc/pkg-deny.png
  details:
    description: >
      Pods/Containers might get shipped with binaries which should never used in the production environments. Some of those bins might be useful in dev/staging environments but the same container image is carried forward in most cases to the production environment too. For security reasons, the devsecops team might want to disable the use of these binaries in the production environment even though the bins exists in the container. As an example, most of the container images are shipped with package management tools such as apk, apt, yum, etc. If anyone ends up using these bins in the prod env, it will increase the attack surface of the container/pod.
    attackscenario: >
      Attackers use system tools such as fsck, ip, who, apt, etc for reconnaissance and to download its accessory tooling from the remote servers.
    tags:
      - CIS Distribution Independent Linuxv2.0
      - Control-Id:6.4.5
      - NIST_800-53_SI-4
      - NIST_800-53_CM-7(4)
    references:
      - title: MITRE Installer Packages
        url: https://attack.mitre.org/techniques/T1546/016/
    protectionpolicies:
      - name: Packaging tools execution
        path: res/pkg-tools.yaml
        simulation: res/pkg-tools.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/pkg-tools-0.png
      - title: Policy violation
        path: ../images/cards/pkg-tools-1.png
- title: Trusted certs bundle
  content: Protect write access to the trusted root certificates bundle
  image: images/uc/file-lock.png
  details:
    description: >
      Adversaries may install a root certificate on a compromised system to avoid warnings when connecting to adversary-controlled web servers. Root certificates are used in public key cryptography to identify a root certificate authority (CA). When a root certificate is installed, the system or application will trust certificates in the root's chain of trust that have been signed by the root certificate. Installation of a root certificate on a compromised system would give an adversary a way to degrade the security of that system.
    attackscenario: >
      Adversaries have used this technique to avoid security warnings prompting users when compromised systems connect over HTTPS to adversary-controlled web servers that spoof legitimate websites in order to collect login credentials.
    tags:
      - CIS Distribution Independent Linuxv2.0
      - Control-Id: 6.3.4
    references:
      - title: MITRE Subvert Trust Controls
        url: https://attack.mitre.org/techniques/T1553/004/
      - title: MITRE Unsecured credentials
        url: https://attack.mitre.org/techniques/T1552/
    protectionpolicies:
      - name: Trusted Certs Bundle
        path: res/trusted-cert-bundle.yaml
        simulation: res/trusted-cert-bundle.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/trusted-cert-bundle-0.png
      - title: Policy violation
        path: ../images/cards/trusted-cert-bundle-1.png

- title: Database access
  content: Protect read/write access to raw database tables from unknown processes.
  image: images/uc/db-eye.png
  details:
    description: >
      Applications use databases to store all the information such as posts, blogs, user information, etc. WordPress applications almost certainly use a MySQL database for storing their content, and those are usually stored elsewhere on the system, often /var/lib/mysql/some_db_name. 
    attackscenario: >
      Adversaries have used techniques to steal information from databases, Information can be user credentials, posts, blogs, etc. Later using this information Adversaries can gain access to user accounts and perform a full-account takeover.
    tags:
      - CIS Distribution Independent Linuxv2.0
      - Control-Id: 6.14.4
    references:
      - title: MITRE Scan Databases
        url: https://attack.mitre.org/techniques/T1596/005/
    protectionpolicies:
      - name: Database Access
        path: res/db-access.yaml
        simulation: res/db-access.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/db-access-0.png
      - title: Policy violation
        path: ../images/cards/db-access-1.png

- title: Config data
  content: Protect access to configuration data containing plain text credentials.
  image: images/uc/cfg-key.png
  details:
    description: >
      Adversaries may search local file systems and remote file shares for files containing insecurely stored credentials. These can be files created by users to store their own credentials, shared credential stores for a group of individuals, configuration files containing passwords for a system or service, or source code/binary files containing embedded passwords.
    attackscenario: >
      An attacker can change the configurations to open Web sites to application security holes such as session hijacking, Cross-Site Scripting attacks, and even allow the disclosure of private data. It can also be leveraged to gather sensitive information.
    tags:
      - CIS Distribution Independent Linuxv2.0
      - Control-Id: 6.16.14
    references:
      - title: MITRE Unsecured credentials in files
        url: https://attack.mitre.org/techniques/T1552/001/
    protectionpolicies:
      - name: Config data
        path: res/conf-data.yaml
        simulation: res/conf-data.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/conf-data-0.png
      - title: Policy violation
        path: ../images/cards/conf-data-1.png

- title: File Copy
  content: Prevent file copy using standard utilities.
  image: images/uc/file-copy1.png
  details:
    description: >
      Exfiltration consists of techniques that adversaries may use to steal data from your network. Once they’ve collected data, adversaries often package it to avoid detection while removing it. This can include compression and encryption. Techniques for getting data out of a target network typically include transferring it over their command and control channel or an alternate channel and may also include putting size limits on the transmission.
    attackscenario: >
      An attacker can make use of file copy tools to exfiltrate sensitive data. It can also be leveraged for transferring malicious payloads into the workloads and assisting in lateral movement.
    tags:
      - MITRE_TA0010_exfiltration
      - NIST_800-53_SI-4(18)
      - MITRE_TA0008_lateral_movement
    references:
      - title: MITRE Exfiltration
        url: https://attack.mitre.org/tactics/TA0010/
    protectionpolicies:
      - name: File Copy
        path: res/file-copy.yaml
        simulation: res/file-copy.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/file-copy-0.png
      - title: Policy violation
        path: ../images/cards/file-copy-1.png

- title: Network Access
  content: Prevent network access to any processes or selectively enable network access to specific processes.
  image: images/uc/cloud-deny.png
  details:
    description: >
      Typically, within a pod/container, there are only specific processes that need to use network access. KubeArmor allows one to specify the set of binaries that are allowed to use network primitives such as TCP, UDP, and Raw sockets and deny everyone else.
    attackscenario: >
      An attacker binary would try to send a beacon to its C&C (Command and Control) Server. Also, the binary might use the network primitives to exfiltrate pod/container data/configuration.
    tags:
      - Network Access
    protectionpolicies:
      - name: Network Access
        path: res/net-acc.yaml
        simulation: res/net-acc.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/net-acc-0.png
      - title: Policy violation
        path: ../images/cards/net-acc-1.png

- title: /tmp/ noexec
  content: Do not allow execution of binaries from /tmp/ folder.
  image: images/uc/file-exec-deny.png
  details:
    description: >
      If provided the necessary privileges, users have the ability to install software in organizational information systems. To maintain control over the types of software installed, organizations identify permitted and prohibited actions regarding software installation. Prohibited software installations may include, for example, software with unknown or suspect pedigrees or software that organizations consider potentially malicious.
    attackscenario: >
      The hacker tries to inject malicious scripts into /tmp folder through the web application exploit and they try to execute this file on the server bringing it down. When we harden the /tmp folder, the user will not be able to execute the script and it will prevent these types of attacks.
    tags:
      - CIS Distribution Independent Linuxv2.0
      - Control-Id: 1.1.5
      - Control-Id: 1.1.10
    references:
      - title: STIG no exec in /tmp
        url: https://www.stigviewer.com/stig/red_hat_enterprise_linux_6/2016-12-16/finding/V-57569
    protectionpolicies:
      - name: /tmp/ noexec
        path: res/tmp-noexec.yaml
        simulation: res/tmp-noexec.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/tmp-noexec-0.png
      - title: Policy violation
        path: ../images/cards/tmp-noexec-1.png

- title: Admin tools
  content: Do not allow execution of administrative/maintenance tools inside the pods.
  image: images/uc/admin-tool.png
  details:
    description: >
      Adversaries may abuse a container administration service to execute commands within a container. A container administration service such as the Docker daemon, the Kubernetes API server, or the kubelet may allow remote management of containers within an environment.
    attackscenario: >
      Attackers with permissions could run ‘kubectl exec’ to execute malicious code and compromise resources within a cluster.
    tags:
      - NIST_800-53_AU-2
      - MITRE_T1609_container_administration_command
      - NIST_800-53_SI-4
    references:
      - title: MITRE ATT&CK execution in k8s
        url: https://cloud.redhat.com/blog/protecting-kubernetes-against-mitre-attck-execution#:~:text='kubectl%20exec'%20allows%20a%20user,compromise%20resources%20within%20a%20cluster
    protectionpolicies:
      - name: Admin tools
        path: res/admin-tools.yaml
        simulation: res/admin-tools.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/admin-tools-0.png
      - title: Policy violation
        path: ../images/cards/admin-tools-1.png

- title: Discovery tools
  content: Do not allow discovery/search of tools/configuration.
  image: images/uc/file-search.png
  details:
    description: >
      Adversaries may attempt to get a listing of services running on remote hosts and local network infrastructure devices, including those that may be vulnerable to remote software exploitation. Common methods to acquire this information include port and/or vulnerability scans using tools that are brought onto a system
    attackscenario: >
      Adversaries may use the information related to services, remote hosts and local network infrastructure devices, including those that may be vulnerable to remote software exploitation to perform malicious attacks like exploiting open ports, injecting payloads to get remote shells.
    tags:
      - CIS Distribution Independent Linuxv2.0
      - Control-Id: 6.3
    references:
      - title: MITRE Network Service Discovery
        url: https://attack.mitre.org/techniques/T1046/
    protectionpolicies:
      - name: Discovery tools
        path: res/disc-tools.yaml
        simulation: res/disc-tools.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/disc-tools-0.png
      - title: Policy violation
        path: ../images/cards/disc-tools-1.png

- title: Logs delete
  content: Do not allow external tooling to delete logs/traces of critical components.
  image: images/uc/file-del.png
  details:
    description: >
      Adversaries may delete or modify artifacts generated within systems to remove evidence of their presence or hinder defenses. Various artifacts may be created by an adversary or something that can be attributed to an adversary’s actions. Typically these artifacts are used as defensive indicators related to monitored events, such as strings from downloaded files, logs that are generated from user actions, and other data analyzed by defenders. Location, format, and type of artifact (such as command or login history) are often specific to each platform. 
    attackscenario: >
      Removal of these indicators may interfere with event collection, reporting, or other processes used to detect intrusion activity. This may compromise the integrity of security solutions by causing notable events to go unreported. This activity may also impede forensic analysis and incident response, due to a lack of sufficient data to determine what occurred.
    tags:
      - CIS Distribution Independent Linuxv2.0
      - Control-Id: 6.6
      - Control-Id: 7.6.2
      - Control-Id: 7.6.3
      - NIST_800-53_CM-5
    references:
      - title: MITRE Indicator Removal
        url: https://attack.mitre.org/techniques/T1070/
    protectionpolicies:
      - name: Logs delete
        path: res/log-del.yaml
        simulation: res/log-del.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/log-del-0.png
      - title: Policy violation
        path: ../images/cards/log-del-1.png

- title: ICMP control
  content: Do not allow scanning tools to use ICMP for scanning the network.
  image: images/uc/ip.png
  details:
    description: >
      The Internet Control Message Protocol (ICMP) allows Internet hosts to notify each other of errors and allows diagnostics and troubleshooting for system administrators. Because ICMP can also be used by a potential adversary to perform reconnaissance against a target network, and due to historical denial-of-service bugs in broken implementations of ICMP, some network administrators block all ICMP traffic as a network hardening measure
    attackscenario: >
      Adversaries may use scanning tools that uses Internet Control Message Protocol (ICMP)  to perform reconnaissance against a target network and identify the potential loopholes.
    tags:
      - ICMP Control
    protectionpolicies:
      - name: ICMP Control
        path: res/icmp-con.yaml
        simulation: res/icmp-con.md
    screenshots:
      - title: Hardening Policy
        path: ../images/cards/icmp-con-0.png
      - title: Policy violation
        path: ../images/cards/icmp-con-1.png

